# core
sqlalchemy
pandas
tables
scipy
richenum
matplotlib
fire
jinja2
sklearn
statsmodels

# optional
# pymysql

# For sphinx documentation only
sphinxcontrib-fulltoc
numpydoc
sphinx_rtd_theme
IPython

# For pypi document
pypandoc