# core
ujson
sqlalchemy
pandas
tables
scipy
richenum
lxml
matplotlib
fire
jinja2
lazy-property
sklearn
dulwich>=0.18.3

# optional
# pymysql

# For sphinx documentation only
sphinxcontrib-fulltoc
numpydoc
sphinx_rtd_theme
